@page "{id:int}"
@model PokedexBackOffice.Pages.Packs.DetailsModelPack

<h1>Details for @Model.Pack.Name</h1>

<div>
    <h4>Pack</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.BronzeChance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.BronzeChance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.SilverChance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.SilverChance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.GoldChance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.GoldChance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.PlatinumChance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.PlatinumChance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.DiamondChance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.DiamondChance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.TotalBought)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.TotalBought)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pack.UpdatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pack.UpdatedOn)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @if (Model.Pack.Image != null)
            {
                <img src="data:image/png;base64,@Model.Pack.Image" alt="Pack Image"
                    style="max-width: 200px; max-height: 200px;" />
            }
        </dd>
    </dl>
</div>



<h4 class="mt-5">Associate Pokemon</h4>
<form method="post" asp-page-handler="AssociatePokemon">
    <div class="form-group mt-4">
        <label for="PokemonId">Pokemon</label>
        <select asp-for="PokemonId" class="form-control" asp-items="Model.Pokemons"></select>
    </div>
    <input type="hidden" asp-for="Pack.Id" />
    <button type="submit" class="btn btn-primary mt-4">Add Pokemon</button>
</form>

<h4 class="mt-5">Associated Pokemons</h4>
<table class="table">
    <thead>
        <tr>
            <th>Pokemon Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokemon in Model.AssociatedPokemons)
        {
            <tr>
                <td>@pokemon.Name</td>
                <td>
                    <form method="post" asp-page-handler="RemovePokemon" style="display:inline;">
                        <input type="hidden" name="pokemonId" value="@pokemon.Id" />
                        <input type="hidden" asp-for="Pack.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>